.user-profile-container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.user-info-container {
    flex: 1;
    margin-right: 20px;
}

.user-name {
    font-size: 32px; /* 2rem */
    margin-bottom: 10px;
}

.user-email {
    font-size: 16px; /* 1rem */
    margin-bottom: 20px;
}

.user-total-recipes {
    font-size: 16px; /* 1rem */
    margin-bottom: 20px;
}

.user-recipes-reviews {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.user-recipes-container,
.user-reviews-container {
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px; /* 1.5rem */
    margin-bottom: 10px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(50% - 20px); /* Adjust width to fit 2 items per row */
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s;
    height: 400px; /* Decreased height of cards */
    overflow: hidden; /* Hide overflow content */
}

.recipe-item:hover {
    transform: scale(1.05);
}

.recipe-image {
    width: 100%;
    height: 260px;
    border-radius: 5px;
}

.recipe-item p {
    margin: 5px 0;
}

.loading-indicator {
    text-align: center;
    margin-top: 20px;
}
