.user-page-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.intro-message {
    text-align: center;
    margin-bottom: 20px;
}

.intro-message h1 {
    font-size: 2.5em;
    margin: 0;
    color: #2c3e50;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.intro-message p {
    font-size: 1.2em;
    color: #34495e;
    line-height: 1.6;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #d0d0d0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.content-container {
    display: flex;
    gap: 20px;
}

.user-list-container {
    flex: 1;
    width: 250px;
    border-right: 2px solid #ddd;
    padding-right: 20px;
}

.user-list-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #f9f9f9;
}

.user-item:hover {
    background-color: #e0e0e0;
}

.selected {
    background-color: #e0e0e0;
}

.user-recipes-container {
    flex: 3;
    padding-left: 20px;
}

.user-recipes-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.recipe-item {
    cursor: pointer;
    width: calc(25% - 15px); /* Adjust width based on your design */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipe-image {
    width: 100%;
    height: 150px; /* Adjust height as needed */
    object-fit: cover;
}

.recipe-item p {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 1em;
    color: #333;
}
