/* UserPage.css */

/* General Styles */
.user-page-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f0;
    width: 100%;
    box-sizing: border-box;
}

.user-page-welcome-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f6f1;
    border-bottom: 1px solid #d9e2ec;
    max-width: 100%;
    box-sizing: border-box;
}

.user-page-welcome-container h1 {
    font-size: 28px;
    color: #333;
    margin: 0;
}

.user-page-welcome-container p {
    font-size: 16px;
    color: #7d8c92;
}

.user-page-content-container {
    padding: 20px;
    display: flex;
    gap: 20px; /* Adjust this value to control the space between user list and recipes */
}

.user-page-list-container {
    flex: 1;
}

.user-page-recipes-container {
    flex: 2;
    /* margin-left: 20px;  */
}

.user-page-list-container h2,
.user-page-recipes-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.user-page-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-page-list-item {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #d9e2ec;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-page-list-item.selected {
    background-color: #e0f7fa;
}

/* Recipe Card Styles */
.user-page-recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between; /* Ensure items are spaced evenly */
}

.user-page-recipe-item {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 300px;
    height: 420px;
}

.user-page-recipe-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.user-page-recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user-page-recipe-info {
    padding: 15px;
    text-align: center;
}

.user-page-recipe-title {
    font-size: 26px;
    margin: 10px 0;
    color: #333;
}

.user-page-recipe-cuisine, .user-page-recipe-category {
    font-size: 18px;
}

/* Cooking Time and Rating Containers */
.user-page-cooking-time-container,
.user-page-rating-container {
    position: absolute;
    background: #004b49;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-page-cooking-time-container {
    bottom: 0;
    left: 0;
    width: auto;
    height: 30px;
    padding: 0 10px;
}

.user-page-rating-container {
    bottom: 0;
    right: 0;
    width: auto;
    height: 30px;
    padding: 0 10px;
}

/* Loading Indicator */
.user-page-loading-indicator {
    text-align: center;
    padding: 20px;
}

/* Responsive Adjustments */
@media (min-width: 1240px) and (max-width: 1242px){
    .user-page-content-container    {
        margin-bottom: 20px;
    }

    .user-page-recipe-item {
        width: 240px;
        height: 420px;
    }
}

@media (min-width: 860px) and (max-width: 1239px) {
    .user-page-recipe-item {
        width: 240px;
        height: 440px;
    }
    .user-page-content-container {
        gap: 30px; /* Adjusted gap for tablets and medium screen sizes */
    }
}

@media (max-width: 859px) {
    .user-page-recipe-item {
        width: calc(50% - 15px); /* Two items per row on mobile devices */
    }
    .user-page-content-container {
        flex-direction: column;
        gap: 20px; /* Adjusted gap for smaller screens */
    }
    .user-page-recipes-container {
        margin-left: 0;
    }
}

@media (max-width: 460px) {
    .user-page-recipe-item {
        width: 300px;
        height: 470px;
        margin: auto;
    }
}
