.user-profile-container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9; 
}

.user-info-container {
    flex: 1;
    margin-right: 20px;
    height: 400px;
}

.user-box {
    background: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin-bottom: 20px;
}

.user-name {
    font-size: 44px; 
    margin-bottom: 10px;
    color: black;
}

.user-email {
    font-size: 16px; 
    margin-bottom: 20px;
}

.user-recipes-reviews {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.user-recipes-container,
.user-reviews-container {
    margin-bottom: 20px;
}

.user-box {
    background: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 34px; 
    margin-bottom: 10px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-item {
    position: relative;
    background: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    width: calc(50% - 20px); 
    height: 250px; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
}

.recipe-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipe-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.recipe-item p {
    margin: 5px 0;
    font-size: 24px;
    margin-top: 26px;
}

.loading-indicator {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #BF5700;
}
