.home-page {
    font-family: Arial, sans-serif;
    background-color: #f5f5f0;
    width: 100%;
    box-sizing: border-box;
}

.home-welcome-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f6f1;
    border-bottom: 1px solid #d9e2ec;
    max-width: 100%;
    box-sizing: border-box;
}

.home-welcome-container h1 {
    font-size: 28px;
    color: #333;
    margin: 0;
}

.home-welcome-container p {
    font-size: 16px;
    color: #7d8c92;
}

.home-recipes-section {
    padding: 40px 20px;
    background-color: #f5f7f4;
    box-sizing: border-box;
}

.home-recipes-section h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.home-recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.home-recipe-card {
    position: relative;
    background: #ffffff;
    border: 1px solid #d9e2ec;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 280px;
    height: 420px;
}

.home-recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.home-recipe-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.home-recipe-info {
    padding: 15px;
    text-align: center;
}

.home-recipe-title {
    font-size: 26px;
    margin: 10px 0;
    color: #333;
}

.home-recipe-cuisine,
.home-recipe-category {
    font-size: 18px;
}

.home-cooking-time-container,
.home-rating-container {
    position: absolute;
    background: #004b49;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-cooking-time-container {
    bottom: 0;
    left: 0;
    width: 40%;
    height: 30px;
}

.home-rating-container {
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30px;
}

.home-no-recipes {
    text-align: center;
    color: #7d8c92;
}

.home-categories-section {
    padding: 40px 20px;
}

.home-categories-section h2 {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.home-categories-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.home-category-card {
    background: #ffffff;
    border: 1px solid #d9e2ec;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.home-category-card:hover {
    background-color: #f0f4f8;
    color: #004b49;
}


.home-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: #f5f5f0;
    font-size: 24px;
}

.home-loader i {
    color: #004b49;
}


@media (min-width: 1240px) {
    .home-page {
        padding-top: 30px;
    }

    .home-welcome-container {
        padding: 60px 40px;
    }

    .home-recipes-section {
        padding: 60px 40px;
    }

    .home-recipes-section h2 {
        font-size: 42px;
    }

    .home-recipes-grid {
        gap: 30px;
    }

    .home-recipe-card {
        width: 300px;
        height: 460px;
    }

    .home-recipe-title {
        font-size: 24px;
    }

    .home-cooking-time-container,
    .home-rating-container {
        font-size: 14px;
        height: 30px;
    }

    .home-category-card {
        width: 150px;
        height: 150px;
        font-size: 16px;
    }
}

@media (min-width: 860px) and (max-width: 1239px) {
    .home-page {
        padding-top: 20px;
    }

    .home-welcome-container {
        padding: 50px 30px;
    }

    .home-recipes-section {
        padding: 50px 30px;
    }

    .home-recipes-section h2 {
        font-size: 36px;
    }

    .home-recipes-grid {
        gap: 25px;
    }

    .home-recipe-card {
        width: 250px;
        height: 460px;
    }

    .home-recipe-title {
        font-size: 22px;
    }

    .home-cooking-time-container,
    .home-rating-container {
        font-size: 12px;
        height: 30px;
    }

    .home-category-card {
        width: 130px;
        height: 130px;
        font-size: 15px;
    }
}

@media (max-width: 460px) {
    .home-welcome-container {
        padding: 20px 10px;
    }

    .home-recipes-section {
        padding: 20px 10px;
    }

    .home-recipes-section h2 {
        font-size: 28px;
        margin: 0 0 20px;
    }

    .home-recipes-grid {
        gap: 15px;
        justify-content: center;
        width: 100%;
    }

    .home-recipe-card {
        width: 100%;
        max-width: 300px;
        height: 440px;
        margin-bottom: 20px;
    }

    .home-recipe-title {
        font-size: 18px;
    }

    /* .home-cooking-time-container,
    .home-rating-container {
        font-size: 12px;
        height: 30px;
        width: auto;
        padding: 5px;
    } */

    .home-category-card {
        width: 100px;
        height: 100px;
        font-size: 14px;
    }

    .home-cooking-time-container {
        height: 25px;
        width: 36%;
        font-size: 12px;
    }

    .home-rating-container {
        height: 25px;
        width: 20%;
        font-size: 12px;
    }
}

@media (max-width: 459px) {
    .home-page {
        padding-top: 5px;
        max-width: 100%;
    }

    .home-welcome-container {
        padding: 15px 5px;
    }

    .home-recipes-section {
        padding: 15px 5px;
    }

    .home-recipes-section h2 {
        font-size: 24px;
        margin: 0 0 15px;
    }

    .home-recipes-grid {
        gap: 10px;
        width: 100%;
    }

    .home-recipe-card {
        width: 100%;
        max-width: 280px;
        height: auto;
        margin-bottom: 15px;
    }

    .home-recipe-title {
        font-size: 16px;
    }

    /* .home-cooking-time-container,
    .home-rating-container {
        font-size: 12px;
        height: auto;
        width: auto;
        padding: 5px;
    } */

    .home-cooking-time-container {
        height: 25px;
        width: 36%;
        font-size: 12px;
    }

    .home-rating-container {
        height: 25px;
        width: 20%;
        font-size: 12px;
    }

    .home-category-card {
        width: 80px;
        height: 80px;
        font-size: 12px;
    }
}
