.navbar-container {
  height: 90px;
  background-color: #f06909; 
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.logo img {
  height: 92px; 
  width: 100px;
  margin-right: 20px; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  background-color: white;
  height: 43px; 
}

.search-container input {
  height: 30px; 
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* .search-logo{
  height: 100%;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  cursor: pointer;
} */

.search-container i {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links div {
  margin-left: 20px; 
  cursor: pointer;
  color: white; 
  line-height: 80px; 
  font-weight: 500;
  font-size: 18px;
}

.nav-links div:hover {
  text-decoration: underline;
}
