.all-recipes-page {
    font-family: Arial, sans-serif;
    background-color: #f5f5f0;
    margin: 0;
    padding: 20px;
}

.all-recipes-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.loader-container i {
    font-size: 80px; 
    color: #004b49; 
}


.all-recipe-card {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 470px; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
}

.card-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1; 
}

.card-loader i {
    font-size: 50px; 
    color: #004b49; 
}

.all-recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}



.all-recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.all-recipe-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.all-recipe-details {
    padding: 15px;
    text-align: center;
}

.all-recipe-title {
    font-size: 26px;
    margin: 10px 0;
    color: #333;
}

.all-cooking-time-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #004b49;
    color: #ffffff;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    height: 30px;
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.all-rating-container {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #004b49;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    height: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.all-recipe-rating {
    font-size: 14px;
    margin-left: 5px;
}

.all-recipe-cooking-time {
    font-size: 14px;
}


@media (min-width: 1240px) and (max-width: 1242px) {
    .all-recipe-card {
        width: 300px;
        height: 430px; 
    }

    .all-recipe-title {
        font-size: 26px;
    }

    .all-cooking-time-container,
    .all-rating-container {
        font-size: 14px;
        height: 30px;
    }
}


@media (min-width: 860px) and (max-width: 1239px) {
    .all-recipe-card {
        width: 250px;
        height: 460px; 
    }

    .all-recipe-title {
        font-size: 24px;
    }

    .all-cooking-time-container,
    .all-rating-container {
        font-size: 12px;
        height: 30px;
    }
}


@media (min-width: 460px) and (max-width: 859px) {
    .all-recipe-card {
        width: 100%;
        max-width: 300px;
        height: 470px; 
    }

    .all-recipe-title {
        font-size: 22px;
    }

    .all-cooking-time-container {
        height: 25px;
        width: 36%;
        font-size: 12px;
    }

    .all-rating-container {
        height: 25px;
        width: 20%;
        font-size: 12px;
    }
}


@media (max-width: 459px) {
    .all-recipe-card {
        width: 100%;
        max-width: 280px;
        height: auto; 
    }

    .all-recipe-title {
        font-size: 20px;
    }

    .all-cooking-time-container,
    .all-rating-container {
        height: 25px;
        width: 50%;
        font-size: 12px;
    }
}
