#main {
    font-family: Arial, sans-serif;
    background-color: #f5f5f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.all-loading {
    text-align: center;
    font-size: 24px;
    color: #BF5700;
}

.all-recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.all-recipe-card {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 460px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
}

.all-recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.all-recipe-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.all-recipe-info {
    padding: 15px;
    text-align: center;
}

.all-recipe-title {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.all-recipe-rating-container {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #004b49;
    color: #ffffff;
    padding: 5px;
    border-radius: 0 0 5px 0;
    height: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.all-recipe-time-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #004b49;
    color: #ffffff;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
