.create-recipe-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.create-recipe-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.create-recipe-container label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.create-recipe-container input[type='text'],
.create-recipe-container textarea,
.create-recipe-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.create-recipe-container textarea {
    height: 100px;
    resize: vertical; 
}

.create-recipe-container input[type='submit'] {
    background-color: #004b49;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
}

.create-recipe-container input[type='submit']:hover {
    background-color: #003e3a;
}

@media (min-width: 1240px) and (max-width: 1242px) {
    .create-recipe-container {
        width: 75%;
        max-width: 900px;
        padding: 30px;
    }

    .create-recipe-container h1 {
        font-size: 2em;
    }

    .create-recipe-container input[type='submit'] {
        font-size: 18px;
        padding: 20px;
    }
}

@media (max-width: 860px) and (min-width: 461px) {
    .create-recipe-container {
        width: 90%;
        max-width: 700px;
        padding: 20px;
    }

    .create-recipe-container h1 {
        font-size: 1.8em;
    }

    .create-recipe-container input[type='submit'] {
        font-size: 16px;
        padding: 15px;
    }
}

@media (max-width: 460px) {
    .create-recipe-container {
        width: 95%;
        max-width: none;
        padding: 15px;
    }

    .create-recipe-container h1 {
        font-size: 1.5em;
    }

    .create-recipe-container input[type='submit'] {
        font-size: 14px;
        padding: 10px;
    }
}
